*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
.navbar-nav .nav-item{
    margin-right: 1rem;
    color: #fff;
}

.card-img-top{
    max-width: 100%;
    max-height: 200px;
    padding-top: 10px;
}
footer{
    width: 100%;
    height: 35px;
    background-color: black;
    color: #fff;
    font-size: 10px;
    text-align: center;
    padding-top: 15px;
}

#portfolio h2{
    text-align: center;
}
